* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.header {
    color: #333;
    background-position-y: -150px;
    background-image: url(../imgrasm.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    text-align: center;
    font-family: cursive;
   
   

}


.navbar {
    display: flex;
    background-color: #333;
}

.navbar>a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar>a:hover {
    background-color: #ddd;
    color: #000;
    transition: all 0.5s ease;

}

.container {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
   
}

.main {
    flex: 70%;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    border-radius: 5px;
}
.fakeimg > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 3px groove black;

}
.fakeimg video{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer > a{
    text-decoration: none;
    padding: 14px 14px;
    color: #333;
    border-radius: 50%;
    font-size: 25px;
}
.footer>a:nth-of-type(1):hover{
    color: #4267b2;
}
.footer>a:nth-of-type(2):hover{
    color: #fb3958;
}
.footer>a:nth-of-type(3):hover{
    color: #229ed9;
}
.footer>a:nth-of-type(4):hover{
    color: #222;
}
h1>h1{
    font-size: 18px;
}
.footer>h4:hover{
    color: #555;
    cursor: pointer;
}


/* Responsive 700px */
@media screen and (max-width:700px) {

    .container,.navbar {
        flex-direction: column;
        transition: all 0.7s ease;
    }
    .header{
        background-position-y:4px;
        transition: all 0.7s ease;
    }
    .footer{
        flex-direction: column;
    }

}
@media screen and(max-width:1100px) {
    
    .header{
        background-size: cover;
        transition: all 0.7s aese;
        background-position-y:0px ;
        
    }
}

